# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\PYTHON PROJECTS\Django Examples\ZappKode\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
